
.main {
  padding: 40px;
}

.contenedor {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.usuario-tarjeta {
  color: white;
  background-color:black;
  border-radius: 4px;
  padding: 20px;
  width: 30%;
}

.carro-tarjeta {
  color: white;
  background-color:black;
  border-radius: 4px;
  padding: 20px;
  width: 100%;
}

.carro-descripcion {
  font-size: 0.75rem;
}